/* Lightmode CSS */

body {
  background-color: white;
}

h1 {
  text-align: center;
}

.image_and_elevator_pitch {
  display: flex;
  align-items: center;
  justify-content: center
}
/* img {
  max-width: 100%
} */
.image {
  flex-basis: 40%
}
.text {
  font-size: 20px;
  padding-left: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;

}



li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #c9c8c8;
}

.active {
  background-color: #04AA6D;
}

.friends_gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.friends_gallery div {
  margin: 10px;
}

.friends_gallery h3 {
  text-align: center;
}

.center {
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
